<td><%= nombre %></td>
<td><%= apellido %></td>
<td><%= correo %></td>
<td><%= especialidad %></td>
<td><%= clave %></td>
<td><%= celular %></td>
<td><%= telefono %></td>
<td><%= direccion %></td>
<td><%= usuario %></td>

<td><a href="#/<%= id %>">Show</td>
<td><a href="#/<%= id %>/edit">Edit</td>
<td><a href="#/<%= id %>/destroy" class="destroy">Destroy</a></td>