<p>
  <b>Nombre:</b>
  <%= nombre %>
</p>

<p>
  <b>Apellido:</b>
  <%= apellido %>
</p>

<p>
  <b>Correo:</b>
  <%= correo %>
</p>

<p>
  <b>Especialidad:</b>
  <%= especialidad %>
</p>

<p>
  <b>Clave:</b>
  <%= clave %>
</p>

<p>
  <b>Celular:</b>
  <%= celular %>
</p>

<p>
  <b>Telefono:</b>
  <%= telefono %>
</p>

<p>
  <b>Direccion:</b>
  <%= direccion %>
</p>

<p>
  <b>Usuario:</b>
  <%= usuario %>
</p>


<a href="#/index">Back</a>