.wrapper_perfil_v_odonto{ style:"background:white;text-align:center;" }
	%br
	%h1
		Activar Odontologo
	= form_tag '/consultorios', multipart: true do
		.field
			%p{class:"informacion_admin"}
				= label_tag "nombre consultorio"

			= text_field_tag "consultorio[nombre]" ,"",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "direccion"
			
			= text_field_tag "consultorio[direccion]" ,"",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "ciudad"
			
			= select_tag("consultorio[ciudad]", options_for_select({ "Bogota" => "bogota", "Medellin" => "medellin", "Bucaramanga" => "bucaramanga" }))
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "zona"
			
			= text_field_tag "consultorio[zona]" ,"",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "lat"
			
			= text_field_tag "consultorio[lat]","",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "long"
			
			= text_field_tag "consultorio[long]" ,"",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "odontologo_id"
			
			= text_field_tag "consultorio[odontologo_id]" , @odontologo.id ,size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "imagen1"
			
			= file_field_tag "consultorio[imagen1]" 
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "imagen2"
			
			= file_field_tag "consultorio[imagen2]"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "imagen3"
			
			= file_field_tag "consultorio[imagen3]"
		%br 
		.field
			%p{class:"informacion_admin"}
				= label_tag "telefono"
			
			= text_field_tag "consultorio[telefono]" ,"",size:"50"
		%br
		.field
			%p{class:"informacion_admin"}
				= label_tag "username"
			
			= text_field_tag "username" ,"",size:"50"
		%br
		.field
			= submit_tag "ACTIVAR"
	%br
