.wrapper_perfil_v_odonto{ style:"background:white;" }
	%br
	%h1{ :style => "text-align:center;" }
		Datos Generales
	%p{class:"informacion_admin"}
		Odontologos Registrados 
		= @odontologos.length
	%p{class:"informacion_admin"}
		Pacientes Registrados 
		= @pacientes.length
	%p{class:"informacion_admin"}
		Citas Pedidas
		= @citas.length
	%p{class:"informacion_admin"}
		Citas Online
		= @online
	%p{class:"informacion_admin"}
		Citas Offline
		= @offline
	%p{class:"informacion_admin"}
		Citas que no asistieron
		= @noasistio
	%p{class:"informacion_admin"}
		Citas que asistieron
		= @asistio
	%p{class:"informacion_admin"}
		Citas confirmadas
		= @confirmada
	%p{class:"informacion_admin"}
		Citas por confirmar
		= @porconfirmar
	%p{class:"informacion_admin"}
		Citas regendadeas
		= @reagandada
	%p{class:"informacion_admin"}
		Citas cancelada
		= @cancelada
	%br