.wrapper_perfil_v_odonto{ style:"background:white;text-align:center;" }
	%h1 
		Pacientes
	%br
	%table{style: "margin:auto;", class: "tabla_estilos_datos"}
		%tr
			%th
				Id
			%th
				Nombre
			%th
				Apellido
			%th
				Celular
			%th
				Creado Por
			%th
				Citas
			%th
			
			%th 


		- @pacientes.each do |odontologo|

			%tr
				%td
					= odontologo.id
				%td
					= odontologo.nombre 
				%td
					= odontologo.apellido 
				%td
					= odontologo.celular 
				%td
					- if odontologo.usuario == "borrar" 
						= "paciente"
					- else
						= "odontologo"
				%td
					= odontologo.appointments.length
				%td
					%a{:href => "/administrador/pacientes/#{odontologo.id}"}
						= "Ver"
				%td 
					= link_to 'Eliminar', odontologo, method: :delete, data: { confirm: 'Estas Seguro?' }
	%br