<%= form_for @odontologo ,  :html => { :method => :put, :class => "edit_post", :id => "edit_post_45" } do |f| %>
  <% if @odontologo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@odontologo.errors.count, "error") %> prohibited this odontologo from being saved:</h2>

      <ul>
      <% @odontologo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :nombre %> :
    <%= f.text_field :nombre  ,:class=> 'registro_campo' %>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :apellido %> :
    <%= f.text_field :apellido ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :correo %> :
    <%= f.text_field :correo ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    <%= f.label :especialidad %> :
    <%= f.text_field :especialidad ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :clave %> :
    <%= f.text_field :clave ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :celular %> :
    <%= f.text_field :celular ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :telefono %> :
    <%= f.text_field :telefono ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :direccion %> :
    <%= f.text_field :direccion ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :autorizado %> :
    <%= f.text_field :autorizado ,:class=> 'registro_campo'%>
  </div>
  <div class="field">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= f.label :usuario %> :
    <%= f.text_field :usuario ,:class=> 'registro_campo'%>
  </div>
  <p class="terminos_condiciones">
    Haciendo click en continuar, aceptas nuestros terminos y condiciones y uso
  </p>

  <div class="actions">
    <%= f.submit "Continuar" , :class => 'submit'  %>
  </div>
<% end %>
