<p id="notice"><%= notice %></p>


<p>
este es el perfil publico
</p>
<p>
  <b>Nombre:</b>
  <%= @clinica.nombre %>
</p>

<p>
  <b>Correo:</b>
  <%= @clinica.correo %>
</p>

<p>
  <b>Clave:</b>
  <%= @clinica.clave %>
</p>

<p>
  <b>Perfil:</b>
  <%= @clinica.perfil %>
</p>

<p>
  <b>Foto perfil:</b>
  <%= @clinica.foto_perfil %>
</p>

<p>
  <b>Img promocion:</b>
  <%= @clinica.img_promocion %>
</p>

<p>
  <b>Ciudad:</b>
  <%= @clinica.ciudad %>
</p>

<p>
  <b>Direccion:</b>
  <%= @clinica.direccion %>
</p>

<p>
  <b>Imagen1:</b>
  <%= @clinica.imagen1 %>
</p>

<p>
  <b>Imagen2:</b>
  <%= @clinica.imagen2 %>
</p>

<p>
  <b>Imagen3:</b>
  <%= @clinica.imagen3 %>
</p>

<p>
  <b>Lat:</b>
  <%= @clinica.lat %>
</p>

<p>
  <b>Long:</b>
  <%= @clinica.long %>
</p>

<p>
  <b>Nombre:</b>
  <%= @clinica.nombre %>
</p>

<p>
  <b>Zona:</b>
  <%= @clinica.zona %>
</p>

<p>
  <b>Telefono:</b>
  <%= @clinica.telefono %>
</p>


<%= link_to 'Edit', edit_clinica_path(@clinica) %> |
<%= link_to 'Back', clinicas_path %>
