<p id="notice"><%= notice %></p>

<p>
  <b>Id odontologo:</b>
  <%= @prepagada.odontologo_id %>
</p>

<p>
  <b>Prepagada:</b>
  <%= @prepagada.prepagada %>
</p>


<%= link_to 'Edit', edit_prepagada_path(@prepagada) %> |
<%= link_to 'Back', prepagadas_path %>
